@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #171717;
    --cor2: #212121;
    --cor3: #333333;
    --cor4: #57D36D;
}

body {
    background-color: var(--cor1);
    height: 86.2vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Varela Round', sans-serif;
}

form#box {
    background-color: var(--cor2);
    width: 300px;
    height: 400px;
    margin: 90px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px black;
    border: 5px solid var(--cor4);
}

h1#titulo {
    text-align: center;
    padding: 10px;
}

div.entradas {
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    border-radius: 9px;
    font-family: 'Varela Round', sans-serif;
}

button#botao_login {
    text-align: center;
    color:  #57D36D;
    padding: 10px 50px;
    border-radius: 9px;
    font-family: 'Varela Round', sans-serif;
}

div#area_de_cadastro{
    text-align: center;
    padding-top: 20px;
}

span#texto_cadastro {
    font-size: 13px;
}

button#botao_cadastro {
    padding: 5px;
    border-radius: 9px;
    margin-left: 10px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color:  #57D36D;
}

#gmail, #senha, #botao_login, #botao_cadastro {
    background-color: #333333;
    box-shadow: 0px 1px 5px 0px black;
}

#gmail:focus, #senha:focus {
    box-shadow: 0px 0px 8px 0px #57D36D;
    outline: 0;
}

#botao_login:hover, #botao_cadastro:hover {
    box-shadow: 0px 0px 8px 0px #57D36D;
    outline: 0;
}

#gmail, #senha, #botao_login, #botao_cadastro {
    border: 2px solid #57D36D;
}
