@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #171717;
    --cor2: #212121;
    --cor3: #333333;
    --cor4: #57D36D;
}

body {
    background-color: var(--cor1);
    height: 86.2vh;
    color: var(--cor4);
    font-family: 'Varela Round', sans-serif;
}

form#box {
    background-color: var(--cor2);
    width: 300px;
    height: 400px;
    margin: 90px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px var(--cor4);
    border: 5px solid var(--cor4);
}

h1#titulo {
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

div.entradas {
    text-align: center;
    padding: 20px;
}

input {
    color: whitesmoke;
    padding: 10px;
    border-radius: 9px;
    font-family: 'Varela Round', sans-serif;
}

#botao_login {
    text-align: center;
    color:  var(--cor4);
    padding: 10px 50px;
    border-radius: 9px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}

#botao_login:hover, #botao_cadastro:hover {
    box-shadow: 0px 1px 5px 0px var(--cor4);
}

/* EFEITO BOTÃO 3D */
#botao_login:active {
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 0px 0px black;
}

#area_de_cadastro{
    text-align: center;
    padding-top: 20px;
}

p {
    font-size: 13px;
}

#botao_cadastro {
    color: var(--cor4);
    text-decoration: none;
    font-size: 12px;
    border-radius: 9px;
    padding: 8px 8px;
    margin-left: 10px;
}

/* EFEITO BOTÃO 3D */
#botao_cadastro:active {
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 0px 0px black;
}

#gmail, #senha, #botao_login, #botao_cadastro {
    background-color: var(--cor3);
}

/* FOCUS */
#gmail:focus, #senha:focus {
    box-shadow: 0px 0px 8px 0px var(--cor4);
    outline: 0;
}
/* BORDA VERDE */
#gmail, #senha, #botao_login, #botao_cadastro {
    border: 2px solid var(--cor4);
}

footer {
    text-align: center;
}