@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor2: #212121;
    --cor3: #333333;
    --cor4: #57D36D;
}

body {
    background-image: url(/imagens/network-g23f3073fd_1280.png);
    background-attachment: fixed;
    background-size: cover;
    height: 86.2vh;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.box {
    width: 300px;
    height: 400px;
    margin: 90px auto;
    background-color: white;
    /*backdrop-filter: blur(4px);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.137);*/
}

.titulo {
    color: gray;
    text-align: center;
    padding: 10px;
}

.area_entradas {
    text-align: center;
    padding: 20px;
}

input {
    background-color: whitesmoke;
    color: gray;
    border: none;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
}

#botao_login {
    background-color: #00CFFF;
    color: white;
    text-align: center;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    text-shadow: none;
}

#botao_cadastro, #botao_cadastrar-se {
    background-color: #00CFFF;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 8px;
    border: none;
    font-family: 'Varela Round', sans-serif;
}

/* HOVER */
#botao_login:hover, #botao_cadastro:hover, #botao_cadastrar-se:hover {
    
}

/* FOCUS */
.email:focus, .senha:focus, #nome:focus {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.137);
    outline: 0;
}

#ir_para_cadastro {
    text-align: center;
    padding-top: 20px;
}

#ir_para_cadastro p {
    color: gray;
    padding-top: 15px;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

footer {
    text-align: center;
}

#link {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#link:hover {
    text-decoration: underline;
}
